* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;   
}
.btn {
    border: 1px solid rgba(0,0,0,.4);
}
.btn:hover{
    transform:scale(1.08);
    transition: all 0.1s ease;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    
}
.btn:focus{
    transform:scale(1.08);
    outline: none !important;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;

}
.viewcontainer{
    display: flex;
    align-items: center;
    float: right;
    width: 200px;
    
}
.list-container {
    position: fixed;
    top: 200px;
    left: 50px;
}
.list-container:hover {
    transform: scale(1.01)
}
.linklist {
    display: grid;
    justify-items: center;
    padding:20px;
    width: 200px;
    margin: 10px 50px;
    gap: 20px;
    border-radius: 10px;
    background-color: rgba(0,0,0,.05);
    border: 1px solid rgba(0,0,0,.4);
    border-top-width:15px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.list-title {
    font-size:25px;
    text-align: center;
    margin: -.2em -1em;
    padding: 0px;
    font-weight: 900 !important;
}
.linklist .btn {
    width: 150px;
    display: block;
    box-shadow: none;

}
#portfolio {
    background: #A4F4DE;
}
#hash {
    background: #A4E2F4;
}
#bst {
    background: #A4BAF4;
}
#sipser {
    background: #B6A4F4;
}
.topnav{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.topnav .btn {
    width: 100x;
    display: block;
}
.gallery-title {
    font-size:36px;
    text-align: center;
    padding: 20px;
}
.gal-buttons{
    display: flex;
    justify-content: center;
}
.gal-button {
    width: 100px;
    font-size: 18px;
    border: 1px solid rgba(0,0,0,.4);;
    text-align: center;
    background-color: #FAF9F6;
}
.gal-button.active {
    background-color: #F6F7FA;
    transform:scale(1.08);
    transition: all 0.1s ease;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.gal-container{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: -1.3em 7em 3em;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,.4);
    border-top-width:25px;
    background-color: rgba(0,0,0,.2);
    row-gap: 40px;
}
.gal-obj{
    max-height: 200px;
    max-width: 155px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,.4);;
    padding: 10px;
    background-color: white;
    margin-top: 20px;
    
}
.gal-obj > a > img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.gal-obj:hover {
    transform:scale(1.025);
    transition: all 0.1s ease;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
@media screen and (max-width: 680px) {

    .gal-container{
        margin: -1.3em 0em 3em;
    }

}
.gal-obj.show{
	animation: fadeIn 0.5s ease;
}
@keyframes fadeIn{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.gal-obj.hide{
	display: none;
}