* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;   
    line-height: 2;
    
}
p {
    color: #343434;
}
#container{
    position: absolute;
    width: 100%;
    height: 100%;
    touch-action: none;
}
.index-header{
    position: relative;
    font-size:30px;
    text-align: center;
    margin: 1em auto;
    padding: 0;
    font-weight: 900 !important;
}
#list-container{
position: relative;
display: grid;
justify-items: center;
background-color: rgba(255, 255, 255, 0.89);
border: 1px solid rgba(0,0,0,.4);
border-top-width:15px;
border-radius: 10px;
width: 200px;
margin: 0 auto;
}
#list-container:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.list-title{
    font-size: 24px;
    position: absolute;
    top: -60px;
}
.linklist {
    display: grid;
    justify-items: center;
    padding:20px;
    margin: 0 auto;
    gap: 20px;
    text-align: center;
    font-size: 26px;
}
.btn {
    border: 1px solid rgba(0,0,0,.4);
}
.btn:hover{
    transform:scale(1.08);
    transition: all 0.1s ease;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    
}
.btn:focus{
    transform:scale(1.08);
    outline: none !important;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;

}
.linklist .btn {
    width: 150px;
    display: block;
    box-shadow: none;

}
#portfolio {
    background: #A4F4DE;
}
#hash {
    background: #A4E2F4;
}
#bst {
    background: #A4BAF4;
}
#sipser {
    background: #B6A4F4;
}
.topnav{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.topnav .btn {
    width: 100x;
    display: block;
}
.gallery-title {
    font-size:36px;
    text-align: center;
    padding: 20px;
}
.gal-buttons{
    display: flex;
    justify-content: center;
}
.gal-button {
    width: 100px;
    font-size: 18px;
    border: 1px solid rgba(0,0,0,.4);;
    text-align: center;
    background-color: #FAF9F6;
}
.gal-button.active {
    background-color: #F6F7FA;
    transform:scale(1.08);
    transition: all 0.1s ease;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.gal-container{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: -1.3em 7em 3em;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,.4);
    border-top-width:25px;
    background-color: rgba(0,0,0,.2);
    row-gap: 40px;
}
.gal-obj{
    max-height: 200px;
    max-width: 155px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,.4);;
    padding: 10px;
    background-color: white;
    margin-top: 20px;
    
}
.gal-obj > a > img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.gal-obj:hover {
    transform:scale(1.025);
    transition: all 0.1s ease;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
@media screen and (max-width: 680px) {

    .gal-container{
        margin: -1.3em 0em 3em;
    }

}
.gal-obj.show{
	animation: fadeIn 0.5s ease;
}
@keyframes fadeIn{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.gal-obj.hide{
	display: none;
}
strong{
    font-weight: 600;
    color: #343434;
    -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: #343434; 
}
b{
    font-weight: 600;
    color:black;
}
.sipser-container{
    width: 100%;
    height: 100%;
    margin: 1em 0 0 0;
    text-align: center;
    
}
.content-img > img{
    position: relative;
    max-width: 600px;
    width: 100%;
    margin: 10px 0;
}
.content-img > p{
    position: absolute;
    font-size: 14px;
    text-decoration: underline;
    font-style: italic;

}
.sipser-list{
    width: auto;
    justify-items: center;
    margin: 2em 0em 0em 0em; 
    background-color: #A4F4DE;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,.4);
}
.cfl{
    background-color: #A4E2F4;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,.4);
    margin: 0em 0em 0em 0em;
    box-shadow: 0 .75rem 1rem rgba(0,0,0,.3)!important;
}
.dcfl{
    background-color: #A4BAF4;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,.4);
    margin: 0em 0em 4em 0em; 
    box-shadow: 0 .75rem 1rem rgba(0,0,0,.3)!important;
}
.reg{
    background-color: #B6A4F4;
    width: auto;
    padding: 20px 5px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,.4);
    margin: 0em 0em 4em 0em;  
    box-shadow: 0 .75rem 1rem rgba(0,0,0,.3)!important;
}
.sipser-title{
    text-align: center;
    font-weight: 900;
    color:black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black; 
}
.sipser-obj-content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    width: auto;
    padding: 40px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,.4);
    background-color: white;
    font-size: 20px;
    margin: 0 auto;
    box-shadow: 1px 1px 5px #555 inset; 
    
}
.sipser-obj-content:hover{
    cursor: pointer;
}
.closure{
    text-align: left;
}
.closure-obj{

}
.title{
    font-size: 26px;
}
.closure-content > ol{
    position: relative;
    width: 80%;
    margin: 0 auto;
}
.closure > ul {
    position:relative;
    text-align: left;
    font-size: 20px;
    width: 90%;
    margin: 0 auto;
}
.sipser-def{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid rgba(0,0,0,.4);
    width:70%;
    padding:15px 5px 5px 5px;
    margin: 20px 0 20px 0;
}
.def-title{
    position: absolute;
    text-align: center !important;
    width: 220px;
    background-color: white;
    font-size: 18px !important;
    font-style: italic;
    top:-1em;
    left: 20px;
}
.def-content {
    text-align: left;
    width: 85%;
    
}
.def-content > p {
    font-size: 20px;
}
.def-content > ul {
    position:relative;
    font-size: 20px;
    margin: 0 auto;
    width: 90%;
    left: 10px;
}
.def-content > ol {
    position:relative;
    font-size: 20px;
    margin: 0 auto;
    width: 90%;
    left: 10px;
}

.sipser-obj{
    margin: 0em 10px 3em 10px;
    align-items: center;
}
.sipser-obj-content > ol {
    position:relative;
    font-size: 20px;
    left: 15px;
    text-align: left;
    width: 90%;
}
.sipser-obj-content > ul {
    position:relative;
    font-size: 20px;
    left: 15px;
    text-align: left;
    width: 90%;
}
.center{
    text-align: center!important;
}
.left{
    text-align:left!important;
}
.langhead {
    font-weight: 900;
    color:black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black; 
    text-align: center;
}
mark{
    background-color: yellow;
}
.fixedElement {
    position:fixed;
    top:-20em;
    z-index:1000000000000;
}
@media screen and (max-width: 680px) {
    .sipser-list{
        padding: 10px;
    }
    .cfl{
        padding: 10px;
    }
    .dcfl{
        padding: 10px;
    }
    .reg{
        padding: 10px;
    }
    .sipser-lang-obj-content{
        padding:15px;
    }
    .sipser-obj-content{
        padding:15px;
    }
    .sipser-obj{
        margin: 0em 0px 3em 0px;
    }
    .sipser-def{
        width: 100%;
    }
}