* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.body{
    font-family: 'Noto Sans JP', sans-serif;
}
.btn:hover{
    transform:scale(1.08);
    transition: all 0.1s ease;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    
}
.btn:focus{
    transform:scale(1.08);
    outline: none !important;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;

}
.viewcontainer{
    display: flex;
    align-items: center;
    float: right;
    width: 200px;
    
}
.linklist {
    position: absolute;
    top: 200px;
    left: 50px;
    width: 500px;
    margin: 10px 50px;
}
.linklist .btn {
    width: 100px;
    display: block;
    background: #aaebc5;
}
.linklist .btn:hover{
    background: hsl(145, 33%, 66%);
}
.topnav{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.topnav li{
    display:inline;
}
.topnav a{
    display:inline-block;
    padding:10px;
}
.topnav .btn {
    width: 100x;
    display: block;
    background: #aaebc5;
}
.topnav .btn:hover{
    background: hsl(145, 33%, 66%);
    box-shadow: none !important;
}
.gallery-title {
    font-size:36px;
    text-align: center;
    padding: 20px;
}
.gal-buttons{
    display: flex;
    justify-content: center;
}
.filter-button {
    width: 100px;
    font-size: 18px;
    border: 1px solid rgba(0,0,0,.4);;
    text-align: center;
    background-color: #FAF9F6;
}
.filter-button:active {
    background-color: #F6F7FA;
}
.gal-container{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: -1.3em 7em 3em;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,.4);
    border-top-width:25px;
    background-color: rgba(0,0,0,.2);
    row-gap: 40px;
}
.gal-obj{
    max-height: 200px;
    max-width: 155px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,.4);;
    padding: 10px;
    background-color: white;
    margin-top: 20px;
    
}
.gal-obj > a > img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.gal-obj:hover {
    transform:scale(1.025);
    transition: all 0.1s ease;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
@media screen and (max-width: 680px) {

    .gal-container{
        margin: -1.3em 0em 3em;
    }

}
